node_modules
.next
/out
out
# build
# /bin
# /dist
# .DS_Store
# .idea
# *.tmp
# yarn-debug.log*
# yarn-error.log*
# *.pid
# storybook-static
# .scrapy
# __pycache__
# *.pyc
# .vscode
# /chrome.*
# /public
